{
  "Settings": {
    "Default blueprints": [
"ammo.handmade.shell",
"ammo.pistol",
"ammo.pistol.fire",
"ammo.pistol.hv",
"ammo.rifle",
"ammo.rifle.explosive",
"ammo.rifle.hv",
"ammo.rifle.incendiary",
"ammo.rocket.basic",
"ammo.rocket.fire",
"ammo.rocket.hv",
"ammo.rocket.smoke",
"ammo.shotgun",
"ammo.shotgun.slug",
"arrow.hv",
"arrow.wooden",
"attire.hide.boots",
"attire.hide.helterneck",
"attire.hide.pants",
"attire.hide.poncho",
"attire.hide.skirt",
"attire.hide.vest",
"autoturret",
"axe.salvaged",
"bandage",
"barricade.concrete",
"barricade.metal",
"barricade.sandbags",
"barricade.stone",
"barricade.wood",
"barricade.woodwire",
"bed",
"bone.armor.suit",
"bone.club",
"botabag",
"bow.hunting",
"box.repair.bench",
"box.wooden",
"box.wooden.large",
"bucket.helmet",
"bucket.water",
"building.planner",
"burlap.gloves",
"burlap.headwrap",
"burlap.shirt",
"burlap.shoes",
"burlap.trousers",
"campfire",
"cctv.camera",
"ceilinglight",
"chair",
"coffeecan.helmet",
"crossbow",
"cupboard.tool",
"deer.skull.mask",
"door.closer",
"door.double.hinged.metal",
"door.double.hinged.toptier",
"door.double.hinged.wood",
"door.hinged.metal",
"door.hinged.toptier",
"door.hinged.wood",
"door.key",
"dropbox",
"explosive.satchel",
"explosive.timed",
"explosives",
"fishtrap.small",
"flamethrower",
"flameturret",
"floor.grill",
"floor.ladder.hatch",
"fridge",
"fun.guitar",
"furnace",
"furnace.large",
"gates.external.high.stone",
"gates.external.high.wood",
"grenade.beancan",
"grenade.f1",
"gunpowder",
"guntrap",
"hammer",
"hammer.salvaged",
"hat.beenie",
"hat.boonie",
"hat.candle",
"hat.cap",
"hat.miner",
"hat.wolf",
"hatchet",
"hazmatsuit",
"heavy.plate.helmet",
"heavy.plate.jacket",
"heavy.plate.pants",
"hoodie",
"icepick.salvaged",
"jacket",
"jacket.snow",
"jackolantern.angry",
"jackolantern.happy",
"knife.bone",
"ladder.wooden.wall",
"lantern",
"largemedkit",
"lmg.m249",
"lock.code",
"lock.key",
"locker",
"longsword",
"mace",
"machete",
"mailbox",
"map",
"mask.balaclava",
"mask.bandana",
"meat.boar",
"meat.pork.burned",
"meat.pork.cooked",
"metal.facemask",
"metal.plate.torso",
"mining.pumpjack",
"mining.quarry",
"note",
"pants",
"pants.shorts",
"paper",
"pickaxe",
"pistol.eoka",
"pistol.m92",
"pistol.python",
"pistol.revolver",
"pistol.semiauto",
"planter.large",
"planter.small",
"research.table",
"rifle.ak",
"rifle.bolt",
"rifle.lr300",
"rifle.semiauto",
"riot.helmet",
"roadsign.jacket",
"roadsign.kilt",
"rock",
"rocket.launcher",
"rug",
"rug.bear",
"salvaged.cleaver",
"salvaged.sword",
"searchlight",
"shelves",
"shirt.collared",
"shirt.tanktop",
"shoes.boots",
"shotgun.double",
"shotgun.pump",
"shotgun.waterpipe",
"shutter.metal.embrasure.a",
"shutter.metal.embrasure.b",
"shutter.wood.a",
"sign.hanging",
"sign.hanging.banner.large",
"sign.hanging.ornate",
"sign.pictureframe.landscape",
"sign.pictureframe.portrait",
"sign.pictureframe.tall",
"sign.pictureframe.xl",
"sign.pictureframe.xxl",
"sign.pole.banner.large",
"sign.post.double",
"sign.post.single",
"sign.post.town",
"sign.post.town.roof",
"sign.wooden.huge",
"sign.wooden.large",
"sign.wooden.medium",
"sign.wooden.small",
"sleepingbag",
"small.oil.refinery",
"smg.2",
"smg.mp5",
"smg.thompson",
"spear.stone",
"spear.wooden",
"spikes.floor",
"spinner.wheel",
"stash.small",
"stocking.large",
"stocking.small",
"stone.pickaxe",
"stonehatchet",
"supply.signal",
"surveycharge",
"syringe.medical",
"table",
"target.reactive",
"tool.binoculars",
"tool.camera",
"torch",
"trap.bear",
"trap.landmine",
"tshirt",
"tshirt.long",
"tunalight",
"vending.machine",
"wall.external.high",
"wall.external.high.stone",
"wall.frame.cell",
"wall.frame.cell.gate",
"wall.frame.fence",
"wall.frame.fence.gate",
"wall.frame.netting",
"wall.frame.shopfront",
"wall.frame.shopfront.metal",
"wall.window.bars.metal",
"wall.window.bars.toptier",
"wall.window.bars.wood",
"water.barrel",
"water.catcher.large",
"water.catcher.small",
"water.purifier",
"waterjug",
"weapon.mod.flashlight",
"weapon.mod.holosight",
"weapon.mod.lasersight",
"weapon.mod.muzzleboost",
"weapon.mod.muzzlebrake",
"weapon.mod.silencer",
"weapon.mod.simplesight",
"weapon.mod.small.scope",
"wood.armor.helmet",
"wood.armor.jacket",
"wood.armor.pants",
"workbench1",
"workbench2",
"workbench3"
    ],
    "Require workbench": true
  }
}